<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309235316858-1ares33i6tqjei3dsot0r7k8dsi7q733.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309235316858-1ares33i6tqjei3dsot0r7k8dsi7q733</string>
	<key>API_KEY</key>
	<string>AIzaSyATOXQWAzUSlI5WlAyJ0ayr-vn38ajModk</string>
	<key>GCM_SENDER_ID</key>
	<string>309235316858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sts.driverApp</string>
	<key>PROJECT_ID</key>
	<string>sts-mobile-case-study</string>
	<key>STORAGE_BUCKET</key>
	<string>sts-mobile-case-study.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309235316858:ios:1e19825202e477dfd3a3c3</string>
	<key>DATABASE_URL</key>
	<string>https://sts-mobile-case-study-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>